body {
    background: #EEE;
    color: #222;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    min-width: 600px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.button {
    background: #333;
    border: 2px solid #7c9278;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
}

.button:hover, .button:active {
    /*border-color: #333;*/
    background: #444;
}

.write, .submit {
    background: #333 url('/static/images/pencil.png') no-repeat;
    background-position: 5px 8px!important;
    background-size: 16px 16px!important;
    padding-left: 25px;
}

.write:hover {
    background: #444 url('/static/images/pencil.png') no-repeat;
    background-position: 5px 8px;
    background-size: 16px 16px;
}

.submit {
    background: #333 url('/static/images/ok.png') no-repeat;
}

.submit:hover {
    background: #444 url('/static/images/ok.png') no-repeat;
}

.icon {
    display: inline-block;
    height: 12px;
    width: 12px;
}

.right {
    float: right;
}

.top {
    background: #333;
    border-bottom: 3px solid #7c9278;
    color: #FFF;
    padding: 15px;
}

.top .right {
    font-size: 16px;
    margin-top: 10px;
}

.top a {
    color: #FFF;
    text-decoration: none;
}

.top a:hover {
    color: #CCC;
    text-decoration: underline;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.container {
    margin: 0px auto 0px auto;
    width: 600px;
}

.footer {
    margin: 20px 0px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.boards {
    margin: 10px 0px;
}

.board {
    background: #FFF;
    border-bottom: 1px solid #AAA;
    font-size: 18px;
    padding: 15px 10px;
}

.board_description {
    font-size: 12px;
    margin-top: 5px;
}

.board:last-child {
    border-bottom: none;
}

.board_right {
    float: right;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    width: 200px;
}

.board_right .latest {
    font-weight: bold;
}

.box {
    background: #FFF;
    border: 1px solid #CCC;
    margin: 75px auto 0px auto;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.box.larger {
    width: 600px;
    margin: 20px auto 0px auto;
    text-align: left;
    box-sizing: border-box;
}

.box.larger:after {
    display: block;
    content: "";
    clear: both;
    height: 0px;
}

.box.larger input[type=submit] {
    float: right;
    margin-right: 30px;
}

label {
    margin: 5px 0px 0px 30px;
}

.box h1 {
    margin: 0px 0px 5px 0px;
}

input, textarea {
    background: #EEE;
    border: 1px solid #CCC;
    display: block;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    margin: 10px auto;
    outline: none;
    padding: 10px;
}

input:focus, textarea:focus {
    border: 1px solid #000;
}

.box input:not([type=submit]) {
    width: 86%;
}

input[type=submit] {
    margin: 10px 10px;
}

.error, .success {
    margin: 10px;
    padding: 10px;
}

.error {
    background: #FF9999;
    border: 1px solid #FF0000;
}

.success {
    background: #B4FFB0;
    border: 1px solid #0DFF00;
}

.menu {
    float: right;
    text-align: right;
    margin-top: 10px;
}

.threads {
    margin: 20px 0px 0px;
}

.thread {
    clear: both;
    background: #FFF;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 1px;
}

.thread .threadtitle {
    width: 375px;
    overflow: hidden;
}

.threadtitle {
    width: 500px;
    word-wrap: break-word;
}

.thread.sticky {
    background: #FFFED1;
}

.thread .right {
    font-size: 12px;
    margin: 10px 0 0 5px;
    width: 150px;
}

.thread .thread_latest {
    display: inline-block;
    padding: 0px 5px;
}

.thread .thread_author {
    font-size: 12px;
    display: block;
}

.new_thread {
    background: #FFF;
    margin-top: 25px;
    padding: 10px;
}

.new_thread .in_title {
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
}

.new_thread textarea {
    background: #FFF;
    display: block;
    height: 200px;
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 90%;
}

.new_thread input[type=submit] {
    margin-left: 18px;
}

.thread_reply {
    background: #FFF;
    margin-top: 10px;
    padding: 10px;
}

.thread_reply textarea {
    width: 96%;
    height: 75px;
}

.thread_reply input {
    display: block;
    margin: 0px;
}

.post {
    width: 600px;
    box-sizing: content-box;
    background: #FFF;
    margin: 10px 0px;
    border-spacing: 0px 0px;
}

.post:after {
    content: "";
    clear: both;
    display: block;
}

.post_sidebar {
    width: 150px;
    padding: 10px;
    border-right: 2px solid #EEE;
    text-align: center;
    vertical-align: top;
}

.post_avatar {
    display: block;
    width: 135px;
    height: 135px;
    margin: 5px auto 10px auto;
}

.post_meta, .post_content {
    margin-left: 170px;
}

.post_meta {
    border-bottom: 2px solid #EEE;
    font-size: 12px;
    padding: 10px 10px;
    text-align: right;
}

.post_content {
    padding: 0px 10px;
    vertical-align: top;
}

.post_content img {
    display: block;
    max-width: 90%;
    margin: 10px auto 0px auto;
}

.post_bottom {
    clear: both;
}

.post_author {
    font-weight: bold;
}

.pagination {
    text-align: center;
}
