/*
 * Base elements
 */
body {
    background: #EEE;
    color: #222;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    min-width: 600px;
}

a {
    text-decoration: none;
    color: #7c9278;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    margin: 10px 0px;
    padding: 5px 10px;
    background: #EEE;
}

.button {
    background: #333;
    border: 2px solid #7c9278;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
}

.button:hover, .button:active {
    /*border-color: #333;*/
    background: #444;
}

.centered {
    text-align: center!important;
}

.write, .submit {
    background: #333 url('/static/images/pencil.png') no-repeat;
    background-position: 5px 8px!important;
    background-size: 16px 16px!important;
    padding-left: 25px;
}

.write:hover {
    background: #444 url('/static/images/pencil.png') no-repeat;
    background-position: 5px 8px;
    background-size: 16px 16px;
}

.submit {
    background: #333 url('/static/images/ok.png') no-repeat;
}

.submit:hover {
    background: #444 url('/static/images/ok.png') no-repeat;
}

.icon {
    display: inline-block;
    height: 12px;
    width: 12px;
}

.right {
    float: right;
}

/*
 * Top bar
 */
.top {
    background: #333;
    border-bottom: 3px solid #7c9278;
    color: #FFF;
    padding: 15px;
}

.top .right {
    font-size: 16px;
    margin-top: 10px;
}

.top a {
    color: #FFF;
    text-decoration: none;
}

.top a:hover {
    color: #CCC;
    text-decoration: underline;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.container {
    margin: 0px auto 0px auto;
    width: 600px;
}

.footer {
    margin: 20px 0px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

/*
 * Board/threads tables
 */
.boards, .threads {
    width: 100%;
    background: #FFF;
    margin: 10px 0px;
    border: 1px solid #CCC;
    padding: 10px;
    border-spacing: 0px;
    vertical-align: middle;
}

.boards tr:nth-child(1) td, .threads tr:nth-child(1) td {
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding: 0px 0px 5px 5px;
}

.boards tr:nth-child(2n+2) td, .threads tr:nth-child(2n+2) td {
    padding-top: 5px;
}

.boards tr:nth-last-child(1) td, .threads tr:nth-last-child(1) td {
    padding-bottom: 5px;
}

.boards tr:nth-child(1) td:nth-last-child(1), .threads tr:nth-child(1) td:nth-last-child(1) {
    padding-left: 0px;
}

.board_latest_time {
    padding-top: 3px;
    font-size: 12px;
}

.board_description, .thread_author {
    font-size: 14px;
    margin-top: 5px;
}

.board_title, .thread_title {
    font-size: 18px;
}

.board_right, .thread_right {
    width: 30%;
}

.highlighted {
    background: #ffc;
}

.thread_sticky:before {
    content: "sticky: ";
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.pagination .prev, .pagination .next {
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

.unread_indicator {
    display: inline-block;
    height: .5em;
    width: .5em;
    vertical-align: middle;
    border-radius: 1em;
    background: #00B4FF;
}

.board_actions {
    text-align: center;
}

/*
 * Content boxes
 */
.box {
    background: #FFF;
    border: 1px solid #CCC;
    margin: 75px auto 0px auto;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.box.larger {
    width: 600px;
    margin: 20px auto 0px auto;
    text-align: left;
    box-sizing: border-box;
}

.box.larger:after {
    display: block;
    content: "";
    clear: both;
    height: 0px;
}

.box.larger input[type=submit] {
    float: right;
    margin-right: 30px;
}

/*
 * Forms
 */
label {
    margin: 5px 0px 0px 30px;
}

.box h1 {
    margin: 0px 0px 5px 0px;
}

input, textarea, select {
    background: #EEE;
    border: 1px solid #CCC;
    display: block;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    margin: 10px auto;
    outline: none;
    padding: 10px;
}

input:focus, textarea:focus {
    border: 1px solid #000;
}

.box input:not([type=submit]), .box textarea {
    width: 86%;
}

input[type=submit] {
    margin: 10px 10px;
}

.error, .success {
    margin: 10px;
    padding: 10px;
}

.error {
    background: #FF9999;
    border: 1px solid #FF0000;
}

.success {
    background: #B4FFB0;
    border: 1px solid #0DFF00;
}

/*
 * Menu for new thread/reply (on board/thread page)
 */
.menu {
    float: right;
    text-align: right;
    margin-top: 10px;
}

.new_thread {
    background: #FFF;
    margin-top: 25px;
    padding: 10px;
}

.new_thread .in_title {
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
}

.new_thread textarea {
    background: #FFF;
    display: block;
    height: 200px;
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 90%;
}

.new_thread input[type=submit] {
    margin-left: 18px;
}

.thread_reply {
    background: #FFF;
    margin-top: 10px;
    padding: 10px;
}

.thread_reply textarea {
    width: 96%;
    height: 75px;
}

.thread_reply input {
    display: block;
    margin: 0px;
}

/*
 * Thread page elements
 */

.crumbs {
    margin: 15px 0px 5px 0px;
}

.crumbs_board {
    font-size: 16px;
}

.crumbs_title {
    display: block;
    font-size: 28px;
    margin-top: 3px;
}

.post {
    width: 600px;
    box-sizing: content-box;
    background: #FFF;
    margin: 10px 0px;
    overflow-x: auto;
    border-spacing: 0px 0px;
}

.post:after {
    content: "";
    clear: both;
    display: block;
}

.post_sidebar {
    width: 150px;
    padding: 10px;
    border-right: 2px solid #EEE;
    text-align: center;
    vertical-align: top;
}

.user_title {
    width: 150px;
    word-wrap: break-word;
}

.post_signature {
    border-top: 2px dotted #EEE;
    margin: 0 10px 0 10px;
    padding: 0 10px;
}

.post_signature img {
    max-width: 408px;
    height: auto;
}

.post_avatar {
    display: block;
    width: 135px;
    margin: 5px auto 10px auto;
}

.post_meta, .post_content {
    margin-left: 170px;
}

.post_meta {
    border-bottom: 2px solid #EEE;
    font-size: 12px;
    padding: 10px 10px;
    text-align: right;
}

.mod_tools {
    display: none;
}

.post_content {
    padding: 0px 10px;
    vertical-align: top;
    line-height: 1.2em;
}

.post_unparsed_content {
    display: none;
}

.post_edited {
    font-size: 10px;
    padding: 0px 0px 10px 10px;
}

.post_edited_empty {
    height: 0px;
}

.post_content img {
    display: block;
    max-width: 408px;
    margin: 10px auto 0px auto;
}

.post_bottom {
    clear: both;
}

.post_author {
    font-weight: bold;
}

.pagination {
    text-align: center;
}

/*
 * Admin panel elements
 */
.box_tabs {
    width: 100%;
    border-spacing: 0px 0px;
}

.box_tabs td {
    text-align: center;
    border-bottom: 1px solid #AAA;
    padding: 0px 0px 10px 0px;
}

.list {
    width: 100%;
    border-spacing: 0px 10px;
}

.list tr:nth-child(1) {
    font-weight: bold;
}

.list tr td input {
    margin: 0px;
}

.alphabet {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
}

/*
 * Index specifics
 */
.online_user:not(:last-child):after {
    content:",";
}
