body {
    background: #FFF;
    color: #222;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    min-width: 600px;
}

a {
    color: #333;
}

.icon {
    display: inline-block;
    height: 12px;
    width: 12px;
}

.top {
    background: #333;
    border-bottom: 3px solid #7c9278;
    color: #FFF;
    padding: 15px;
}

.top .right {
    float: right;
    font-size: 16px;
    margin-top: 10px;
}

.top a {
    color: #FFF;
}

.top a:hover {
    color: #CCC;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}

.container {
    margin: 0px auto 0px auto;
    width: 600px;
}

.boards {
    margin: 10px 0px;
}

.board {
    border-bottom: 1px solid #AAA;
    font-size: 18px;
    padding: 15px 10px;
}

.board:last-child {
    border-bottom: none;
}

.board_right {
    float: right;
    font-size: 12px;
}

.box {
    background: #FFF;
    border: 1px solid #CCC;
    margin: 75px auto 0px auto;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.box h1 {
    margin: 0px;
}

input, textarea {
    background: #EEE;
    border: 1px solid #CCC;
    display: block;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    margin: 10px auto;
    outline: none;
    padding: 10px;
}

input:focus, textarea:focus {
    border: 1px solid #000;
}

.box input:not([type=submit]) {
    width: 86%;
}

input[type=submit] {
    margin: 10px 10px;
}

.error, .success {
    margin: 10px;
    padding: 10px;
}

.error {
    background: #FF9999;
    border: 1px solid #FF0000;
}

.success {
    background: #B4FFB0;
    border: 1px solid #0DFF00;
}

.menu {
    float: right;
    text-align: right;
}

.threads {
    margin: 20px 0px 0px;
}

.thread {
    border-bottom: 1px solid #AAA;
    font-size: 18px;
    padding: 15px 10px;
}

.thread:last-child {
    border-bottom: none;
}

.new_thread {
    background: #FFF;
    margin-top: 25px;
    padding: 10px;
}

.new_thread .in_title {
    display: block;
    margin: 10px auto 10px auto;
    width: 90%;
}

.new_thread textarea {
    background: #FFF;
    display: block;
    height: 200px;
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 90%;
}

.new_thread input[type=submit] {
    margin-left: 18px;
}

.thread_reply {
    background: #FFF;
    margin-top: 10px;
    padding: 10px;
}

.thread_reply textarea {
    width: 96%;
    height: 75px;
}

.thread_reply input {
    display: block;
    margin: 0px;
}

.post {
    background: #FFF;
    margin: 20px 0px;
}

.post:after {
    content: "";
    clear: both;
    display: block;
}

.post_sidebar {
    float: left;
    width: 150px;
    padding: 10px;
    border-right: 1px solid #AAA;
    text-align: center;
}

.post_avatar {
    display: block;
    width: 135px;
    height: 135px;
    margin: 5px auto 10px auto;
}

.post_title, .post_content {
    margin-left: 170px;
}

.post_title {
    border-bottom: 1px solid #AAA;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px;
}

.post_content {
    padding: 10px;
}

.post_bottom {
    clear: both;
}

.post_author {
    font-weight: bold;
}
