{{ define "content" }}
<div class="box larger">
    {{ template "admin_topbar" . }}
    <h2>General settings</h2>

    {{ if .success }}
    <div class="success">
        Settings saved!
    </div>
    {{ end }}

    <form method="POST" action="/admin">
        <label for="theme_stylesheet">Theme stylesheet:</label>
        <input type="text" name="theme_stylesheet" value="{{.theme_stylesheet}}" placeholder="None. Use gobb default theme." />
        <label for="favicon_url">URL for favicon:</label>
        <input type="text" name="favicon_url" value="{{.favicon_url}}" placeholder="None. Use default favicon." />
        <label for="template">Board template (you must restart your Gobb instance):</label>
        <select name="template">
            {{ range .templates }}
            <option value="{{ . }}"{{ if IsCurrentTemplate . }} selected{{end}}>{{ . }}</option>
            {{ end }}
        </select>
        <input type="submit" value="Save" />
    </form>
</div>
{{ end }}
