<!DOCTYPE html>
<html>
  <head>
    <title>{{.site_name}}</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    {{if .stylesheet}}
      <link rel="stylesheet" type="text/css" href="{{.stylesheet}}" />
    {{end}}
    {{if .favicon_url}}
      <link rel="icon" type="image/{{ParseFaviconType .favicon_url}}" href="{{.favicon_url}}" />
    {{end}}
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <div class="nav"><div class="container_12">
      <div class="grid_6">
        <a class="title" href="/">{{.site_name}}</a>
      </div>

      <div class="right grid_6">
          {{if .currentUser}}
            <a href="user/{{.currentUser.Id}}/settings">{{.currentUser.Username}}</a> //

            {{if .currentUser}}
              <a href="admin/">admin</a> //
            {{end}}

            <a href="logout/">logout</a>
          {{else}}
            <a href="register/">register</a> //
            <a href="login/">login</a>
          {{end}}
      </div>
    </div></div>

    <div class="container_12">
      {{ template "content" }}

      <div class="footer grid_12">
        powered by <a href="https://github.com/stevenleeg/gobb">gobb</a>
      </div>
    </div>
  </body>
</html>
