<!DOCTYPE html>
<html>
  <head>
    <title>{{.site_name}}</title>

    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700">
    {{if .stylesheet}}
      <link rel="stylesheet" type="text/css" href="{{.stylesheet}}">
    {{end}}
    {{if .favicon_url}}
      <link rel="icon" type="/image/{{ParseFaviconType .favicon_url}}" href="{{.favicon_url}}">
    {{end}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <div class="nav">
      <div class="container">
        <div class="eight columns">
          <a class="title" href="/">{{.site_name}}</a>

          <div class="mobile-menu">
            {{if .current_user}}
              <a href="/user/{{.current_user.Id}}/settings">{{.current_user.Username}}</a> //
              <a href="/logout">logout</a>
            {{else}}
              <a href="/login">login</a> //
              <a href="/register">register</a>
            {{end}}
          </div>
        </div>

        <div class="right eight columns">
            {{if .current_user}}
              <a href="/user/{{.current_user.Id}}/settings">{{.current_user.Username}}</a> //

              {{if .current_user.IsAdmin}}
                <a href="/admin">admin</a> //
              {{end}}

              <a href="/logout">logout</a>
            {{else}}
              <a href="/register">register</a> //
              <a href="/login">login</a>
            {{end}}
        </div>
      </div>
    </div>

    {{template "content" .}}

    <div class="container">
      <div class="footer sixteen columns">
        powered by <a href="//github.com/stevenleeg/gobb">gobb</a>
      </div>
    </div>
  </body>
</html>
