{{define "thread_right"}}

{{if .Author }}
    by <a href="/user/{{.Author.Id}}">{{.Author.Username}}</a>
    <div class="thread-list-time">{{TimeRelativeToNow .CreatedOn}}</div>
{{else}}
    no replies
{{end}}

{{end}}

{{define "content"}}

<div class="container">
  <div class="breadcrumbs eight columns">
    <a href="/">index</a> &raquo;
    <a href="/board/{{.board.Id}}">{{.board.Title}}</a>
  </div>

  <div class="action-bar eight columns">
    <a class="action-button" href="/board/{{.board.Id}}/new">New thread</a>
  </div>

  <div class="sixteen columns">
    <table class="thread-list">
      <thead><tr>
        <td>Title</td>
        <td>Latest reply</td>
      </tr></thead>

      {{range .threads}}
        <tr{{if .Sticky}} class="highlighted"{{end}}>
          <td>
            {{if IsUnread .}}
              <span class="thread-list-unread"></span>
            {{end}}
            {{if .Locked}}
              <img alt="This thread is locked. Only moderators are allowed to add responses." src="/static/images/lock.png" width="16px" height="16px" />
            {{end}}
            <div class="thread-list-title">
              <a href="/board/{{.BoardId}}/{{.Id}}">{{.Title}}</a> 
              <a href="/board/{{.BoardId}}/{{.Id}}?page={{.Thread.GetPagesInThread}}#latest" class="thread-list-latest">&raquo;</a>
            </div>
            <div class="thread-list-author">
              Posted by <a href="/user/{{.Author.Id}}">{{.Author.Username}}</a>
              {{TimeRelativeToNow .CreatedOn}}
            </div>
          </td>
          <td>{{template "thread_right" .Thread.GetLatestPost}}</td>
        </tr>
      {{else}}
        <tr class="list-nothing"><td colspan="2">
          Nothing yet!
        </td></tr>
      {{end}}

    </table>
  </div>
</div>

{{end}}
