{{define "content"}}
<div class="container">
  <div class="post-editor sixteen columns">
    {{if .post}}
      <h1>Editing post</h1>
    {{else}}
      <h1>New thread</h1>
    {{end}}

    {{if .error}}
      <div class="error">
        {{.error}}
      </div>
    {{end}}

    {{if .board}}
      <form method="POST" action="/board/{{.board.Id}}/new">
    {{else}}
      <form method="POST" action="/action/edit?post_id={{.post.Id}}">
    {{end}}

    {{if ShowTitleField}}
      <input type="text" name="title" placeholder="Thread title" maxlength="70"{{if .post}}value="{{.post.Title}}"{{ end }} />
    {{end}}
    <textarea name="content" placeholder="Put thread stuff here" required>{{if .post}}{{.post.Content}}{{end}}</textarea>
    {{if .post}}
      <input type="submit" class="action-button" value="Save" />
    {{else}}
      <input type="submit" class="action-button" value="Post" />
    {{end}}
    </form>
  </div>
</div>
{{end}}
