{{ define "pagination" }}
<div class="pagination sixteen columns">
    {{if .first_page}}
        <a class="prev" href="/board/{{ .board.Id }}/{{ .op.Id }}?page=0">&laquo; first page</a>
    {{end}}
    {{if .prev_page}}
        <a class="prev" href="/board/{{ .board.Id }}/{{ .op.Id }}?page={{Add .page_id -1}}">&laquo; previous page</a>
    {{end }}
    {{if .next_page}}
        <a class="next" href="/board/{{ .board.Id }}/{{ .op.Id }}?page={{Add .page_id 1}}">next page &raquo;</a>
    {{end}}
    {{if .last_page}}
        <a class="next" href="/board/{{ .board.Id }}/{{ .op.Id }}?page={{ .op.GetPagesInThread }}#latest">last page &raquo;</a>
    {{end}}
</div>
{{end}}

{{define "post"}}
<div class="post container">
  <div class="post-meta three columns">
    {{if .Author.Avatar}}
      <img class="author-avatar" src="{{.Author.Avatar}}" />
    {{else}}
      <img class="author-avatar" src="/static/images/default_user.png" />
    {{end}}
    <a class="author-name" id="p{{.Id}}-author" href="/user/{{.Author.Id}}">{{.Author.Username}}</a>

    {{if .Author.UserTitle}}
      <p class="user-title">{{.Author.UserTitle}}</p>
    {{end}}
  </div>

  <div class="post-topmeta thirteen columns">
    posted {{TimeRelativeToNow .CreatedOn}}

    {{if CurrentUserCanModerateThread .}}
      //
      <a href="#">moderate</a>
      <span class="mod-tools">
        //
        {{if .Sticky}}
          <a href="/action/stick?post_id={{.Id}}">unstick</a>
        {{else}}
          <a href="/action/stick?post_id={{.Id}}">stick</a>
        {{end}}
        //
        <a href="/action/move?post_id={{ .Id }}">move</a>
        //
        {{if .Locked}}
          <a href="/action/lock?post_id={{ .Id }}">unlock</a>
        {{else}}
          <a href="/action/lock?post_id={{ .Id }}">lock</a>
        {{end}}
      </span>
    {{end}}

    {{if CurrentUserCanDeletePost .}}
      // <a href="/action/delete?post_id={{.Id}}" class="delete">delete</a>
    {{end}}

    {{if CurrentUserCanEditPost .}}
      // <a href="/action/edit?post_id={{.Id}}">edit</a>
    {{end}}

    {{if CurrentUserCanReply .}}
      // <a href="#reply" class="quote-post" data-postid="{{.Id}}">quote</a>
    {{end}}
  </div>

  <div class="post-content thirteen columns">
    {{ParseMarkdown .Content}}
  </div>

  <div class="post-unparsed-content" id="p{{.Id}}-unparsed-content">{{.Content}}</div>

  {{if SignaturesEnabled}}
  {{if .Author.Signature.Valid}}
  <div class="post-signature thirteen columns">
    {{ParseMarkdown .Author.Signature.Value}}
  </div>
  {{end}}
  {{end}}
</div>
{{end}}

{{define "content"}}
<div class="container">
  <div class="breadcrumbs eight columns">
    <a href="/">index</a> &raquo;
    <a href="/board/{{.board.Id}}">{{.board.Title}}</a> &raquo;
    <a href="/board/{{.board.Id}}/{{.op.Id}}">{{.op.Title}}</a>
  </div>

  {{if .current_user}}
    <div class="action-bar eight columns">
      <a class="action-button thread-reply-btn" href="#reply">Reply</a>
    </div>
  {{end}}

  {{template "pagination" .}}
</div>

{{if not .first_page}}
  {{ template "post" .op}}
{{end}}

{{range .posts}}
  {{template "post" .}}
{{end}}

<div class="container">
  <a name="latest"></a>
  {{template "pagination" .}}
</div>


<div class="reply container">
  <div class="sixteen columns">
    <div class="padded">
      <form method="POST" action="">
        <textarea id="reply-field" name="content" placeholder="reply to this thread"></textarea>
        <input type="submit" class="action-button" value="reply" />
      </form>
    </div>
  </div>
</div>

{{end}}
