{{ define "content" }}
<div class="larger box">
    <h1>Settings</h1>

    {{ if .success }}
    <div class="success">Settings saved!</div>
    {{ end }}

    <form method="POST" action="">
    <label for="avatar_url">Avatar url</label>
    <input name="avatar_url" id="avatar_url" type="text" value="{{.current_user.Avatar}}" placeholder="default avatar">

    <label for="stylesheet_url">Stylesheet URL</label>
    <input name="stylesheet_url" id="stylesheet_url" type="text" value="{{.user_stylesheet}}" placeholder="default stylesheet">
    {{ if .enable_signatures }}
    <label for="signature">Signature</label>
    <textarea name="signature" id="signature" placeholder="no signature">{{.user_signature}}</textarea>
    {{ end }}

    <input type="submit" class="submit button" value="Save Settings">
    </form>
</div>
{{ end }}
