.thread-list {
    @extend %base-box, %base-list;

    :not(thead) {
        td {
            padding: 3px 0px;
        }
    }

    .thread-list-author {
        font-size: 14px;
    }

    .thread-list-title {
        font-size: 18px;
    }
}
