body {
    font-family: $font-default;
    font-size: 16px;
    background: $color-gray;

    margin: 0px;
    padding: 0px;
}

a {
    color: $color-green;
    text-decoration: none;
}

h1 {
    font-size: 28px;
    margin: .4em 0px;
    padding: 0px;
}

%base-box {
    background: $color-light;
    border: 1px solid $color-border;
}

.footer {
    text-align: center;
    padding: 10px 0px;
}
