.post {
    background: $color-light;
    margin-bottom: 25px;

    .post-meta {
        box-sizing: border-box;
        padding: 10px;
        text-align: center;

        .author-avatar {
            display: block;
            margin: 0px auto;
            max-width: 100%;
            margin-bottom: 10px;
        }
        
        .author-name {
            font-size: 18px;
        }
    }

    .post-topmeta {
        box-sizing: border-box;
        font-size: 12px;
        padding: 10px 0px;
        border-bottom: 1px solid $color-border;
    }

    .post-content {
        box-sizing: border-box;
    }
}

