.post {
    background: $color-light;
    margin-bottom: 10px;

    .post-meta {
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        border-right: 1px solid $color-border;

        .author-avatar {
            display: block;
            margin: 0px auto;
            max-width: 100%;
            margin-bottom: 10px;

            @include respond-to(mobile) {
                max-width: 50px;
                max-height: 50px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
        .author-name {
            font-size: 18px;
        }

        .user-title {
            @include respond-to(mobile) {
                display: none;
            }
        }

        @include respond-to(mobile) {
            text-align: left;
            padding: 10px 10px 0px 10px;
            border-bottom: 1px solid $color-border;
            border-right: 0px;
        }
    }

    .post-topmeta {
        box-sizing: border-box;
        font-size: 12px;
        padding: 10px 0px;
        border-bottom: 1px solid $color-border;
        text-align: right;

        .mod-tools {
            display: none;
        }

        @include respond-to(mobile) {
            margin-top: -75px;
            border-bottom: 0px;
            padding-right: 10px;
        }
    }

    .post-content {
        box-sizing: border-box;

        @include respond-to(mobile) {
            padding: 0px 10px;
        }
    }

    .post-signature {
        border-top: 1px solid $color-border;
        font-size: 12px;
        box-sizing: border-box;

        @include respond-to(mobile) {
            padding: 0px 10px;
        }
    }
}

.reply {
    background: $color-light;

    .padded {
        padding: 15px 10px;
    }

    textarea {
        display: block;
        width: 100%;
        background: $color-gray;
        border: 1px solid $color-border;
        font-family: $font-default;
        font-size: 16px;
        color: $color-dark;
        padding: 10px;
        box-sizing: border-box;
        outline: 0px;
        height: 125px;
    }
}

.pagination {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

