<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sirjtaa</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="top">
            <div class="container">
                <a href="/" class="logo">sirjtaa</a>
                <div class="right">
                    {{if .current_user}}
                        hello {{.current_user.Username}} // <a href="/logout">logout</a>
                    {{else}}
                        <a href="/register">register</a> // 
                        <a href="/login">login</a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="container content">
            {{ template "content" . }}
        </div>
    </body>
</html>
