<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sirjtaa</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="top">
            <div class="container">
                <a href="/" class="logo">{{.site_name}}</a>
                <div class="right">
                    {{if .current_user}}
                        <img src="/static/images/user.png" class="icon" alt="User">
                        <a href="/user/{{.current_user.Id}}/settings">{{.current_user.Username}}</a> //
                        {{ if .current_user.IsAdmin }}
                        <a href="/admin">admin</a> //
                        {{ end}}
                        <a href="/logout">logout</a>
                    {{else}}
                        <a href="/register">register</a> // 
                        <a href="/login">login</a>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="container content">
            {{ template "content" . }}
        </div>

        <div class="footer">
            &copy;2013 sirjtaa co.
        </div>
    </body>
</html>
