<div class="boards">
    <div class="board">
        <a href="#" class="board_title">General</a>
        <div class="board_right">
            10 minutes ago
        </div>
    </div>

    <div class="board">
        <a href="#" class="board_title">Trash</a>
        <div class="board_right">
            20 minutes ago
        </div>
    </div>
</div>
