{{ define "content" }}
<h1>{{.op.Title}}</h1>
    <div class="post">
        <div class="post_sidebar">
                {{ if .op.Author.Avatar }}
                <img class="post_avatar" src="{{.op.Author.Avatar}}" />
                {{ else }}
                <img class="post_avatar" src="/static/images/default_user.png" />
                {{ end }}
            <div class="post_author">{{.op.Author.Username}}</div>
        </div>
        <div class="post_meta">posted 10 minutes ago</div>
        <div class="post_content">{{.op.Content}}</div>
    </div>

    {{ range .posts }}
        <div class="post">
            <div class="post_sidebar">
                {{ if .Author.Avatar }}
                <img class="post_avatar" src="{{.Author.Avatar}}" />
                {{ else }}
                <img class="post_avatar" src="/static/images/default_user.png" />
                {{ end }}
                <div class="post_author">{{.Author.Username}}</div>
            </div>
            <div class="post_meta">posted 10 minutes ago</div>
            <div class="post_content">{{.Content}}</div>
        </div>
    {{ end }}

    {{ if .current_user }}
    <div class="thread_reply">
        <form method="POST" action="/board/{{.board.Id}}/{{.op.Id}}">
        <textarea name="content" placeholder="Reply to this thread"></textarea>
        <input type="submit" class="button" value="Post it">
        </form>
    </div>
    {{ end }}
{{ end }}
