{{ define "content" }}
    <div class="post">
        <div class="post_sidebar">
            <img class="post_avatar" src="http://i.imgur.com/fmG0HmM.gif" />
            <div class="post_author">{{.op.Author.Username}}</div>
        </div>
        <div class="post_title">{{.op.Title}}</div>
        <div class="post_content">{{.op.Content}}</div>
    </div>

    {{ range .posts }}
    {{.Title}}
    {{ end }}

    <div class="thread_reply">
        <textarea name="content" placeholder="Reply to this thread"></textarea>
        <input type="submit" value="post it" />
    </div>
{{ end }}
