{{ define "thread_right" }}
{{ if .Author }}
    by <a href="/user/{{ .Author.Id }}">{{.Author.Username}}</a>
    <div class="thread_time">{{ TimeRelativeToNow .CreatedOn }}</div>
{{ else }}
    no replies
{{ end }}
{{ end }}

{{ define "content" }}

{{ if .current_user }}
<div class="menu">
    <a href="/board/{{.board.Id}}/new" class="write button">New Thread</a>
</div>
{{ end }}

<h1>Posts in {{.board.Title}}</h1>

<table class="threads">
    <tr><td>Title</td><td>Latest reply</td></tr>
    {{ range .threads }}
    <tr>
        <td class="thread_title{{ if .Sticky }} thread_sticky{{end}}">
            <a href="/board/{{.BoardId}}/{{.Id}}" class="thread_title">{{.Title}}</a> 
            <a href="/board/{{.BoardId}}/{{.Id}}?page={{ .GetPagesInThread}}#latest" class="thread_latest">&raquo;</a>
        </td>
        <td class="thread_right" rowspan="2">{{ template "thread_right" .GetLatestPost }}</td>
    </tr>
    <tr>
        <td class="thread_author">
            posted by 
            <a href="/user/{{ .Author.Username }}">{{.Author.Username}}</a> 
            {{ TimeRelativeToNow .CreatedOn }}
        </td>
    </tr>
    {{ end }}
</table>

{{ end }}
