{{ define "thread_right" }}
<div class="right">
    {{ if .Author }}
    last post by <a href="/user/{{ .Author.Id }}">{{.Author.Username}}</a>
    <br>{{ TimeRelativeToNow .CreatedOn }}</a>
    {{ else }}
    no replies
    {{ end }}
</div>
{{ end }}

{{ define "content" }}

{{ if .current_user }}
<div class="menu">
    <a href="/board/{{.board.Id}}/new" class="write button">New Thread</a>
</div>
{{ end }}

<h1>Posts in {{.board.Title}}</h1>

<div class="box larger threads">
    {{ range .threads }}
    <div class="thread{{ if .Sticky }} sticky{{ end }}">
        {{ template "thread_right" .GetLatestPost }}
        <div class="threadtitle">
            <a href="/board/{{.BoardId}}/{{.Id}}" class="thread_title">{{.Title}}</a> <a href="/board/{{.BoardId}}/{{.Id}}?page={{ .GetPagesInThread}}#latest" class="thread_latest">&raquo;</a>
        </div>
        <div class="thread_author">posted by <a href="/user/{{ .Author.Username }}">{{.Author.Username}}</a> {{ TimeRelativeToNow .CreatedOn }}</div>
    </div>
    {{ end }}
</div>

{{ end }}
