{{ define "board_right" }}
<div class="board_right">
    {{ if .Op.Title }}
        <div class="latest">Latest post:</div><a href="/board/{{ .Op.BoardId }}/{{ .Op.Id }}">{{ .Op.Title }}</a> by 
        {{ if .Latest }}
            {{ .Latest.Author.Username}}
        {{ else }}
            {{ .Op.Author.Username }}
        {{ end }}
    {{ else }}
        Nothing yet!
    {{ end }}
</div>
{{ end }}

{{ define "content" }}
<h1>boards</h1>
<div class="boards">
    {{ range .boards }}
    <div class="board">
        {{ template "board_right" .GetLatestPost }}
        <a href="/board/{{.Id}}" class="board_title">{{.Title}}</a>
        <div class="board_description">{{.Description}}</div>
    </div>
    {{ end }}
</div>

<h1>stats</h1>
<div class="box larger">
    {{ .site_name }} has <b>{{ .user_count }} members</b>, who have created a total of <b>{{ .total_posts}} posts</b>. Say hello to our newest member, <b>{{ .latest_user.Username }}</b>. 
</div>
{{ end }}
