{{ define "post" }}
<table class="post" id="post_{{.Id}}">
    <tr>
        <td rowspan="3" class="post_sidebar">
            {{ if .Author.Avatar }}
            <img class="post_avatar" src="{{.Author.Avatar}}" />
            {{ else }}
            <img class="post_avatar" src="/static/images/default_user.png" />
            {{ end }}

            <a href="/user/{{ .Author.Id }}" class="post_author" id="p{{.Id}}_author">{{ .Author.Username }}</a>
        </td>
        <td class="post_meta">
            posted {{ TimeRelativeToNow .CreatedOn }}

            {{ if CurrentUserCanStickyThread . }}
                // 
                {{ if .Sticky }}
                    <a href="/action/stick?post_id={{.Id}}">unstick</a>
                {{ else }}
                    <a href="/action/stick?post_id={{.Id}}">stick</a>
                {{ end}}
            {{ end }}

            {{ if CurrentUserCanDeletePost . }}
                // <a href="/action/delete?post_id={{.Id}}">delete</a>
            {{ end }}

            {{ if CurrentUserCanEditPost . }}
                // <a href="/action/edit?post_id={{.Id}}">edit</a>
            {{ end }}
            // <a href="#reply" class="thread_quote" thread="{{.Id}}">quote</a>
        </td>
    </tr>
    <tr>
        <td class="post_content" >{{ ParseMarkdown .Content}}</td>
    </tr>
    <tr>
        {{ if IsValidTime .LastEdit }}
        <td class="post_edited">
            Edited {{ TimeRelativeToNow .LastEdit }}
        </td>
        {{ else }}
        <td class="post_edited_empty"></td>
        {{ end }}
    </tr>
</table>
<div class="post_unparsed_content" id="p{{.Id}}_content">{{ .Content }}</div>
{{ end }}

{{ define "content" }}
{{ if .current_user }}
<a href="#reply" class="write button right thread_reply_btn">Reply</a>
{{ end }}
    <h1><a href="/board/{{.board.Id}}">{{.board.Title}}</a> &gt; <div class="threadtitle">{{.op.Title}}</div>
    </h1>

    <div class="pagination">
        {{ if .prev_page }}
            <a class="prev" href="/board/{{.board.Id}}/{{.op.Id}}?page={{Add .page_id -1}}">&laquo; previous page</a>
        {{ end }}
        {{ if .next_page }}
            <a class="next" href="/board/{{.board.Id}}/{{.op.Id}}?page={{Add .page_id 1}}">next page &raquo;</a>
        {{ end }}
    </div>
    {{ if not .prev_page }}
        {{ template "post" .op }}
    {{ end }}

    {{ range .posts }}
        {{ template "post" . }}
    {{ end }}

    <a name="latest"></a>

    <div class="pagination">
        {{ if .prev_page }}
            <a class="prev" href="/board/{{.board.Id}}/{{.op.Id}}?page={{Add .page_id -1}}">&laquo; previous page</a>
        {{ end }}
        {{ if .next_page }}
            <a class="next" href="/board/{{.board.Id}}/{{.op.Id}}?page={{Add .page_id 1}}">next page &raquo;</a>
        {{ end }}
    </div>

    {{ if .current_user }}
    <a name="reply"></a>
    <div class="thread_reply">
        <form method="POST" action="/board/{{.board.Id}}/{{.op.Id}}?page={{ .op.GetPagesInThread }}#latest">
            <textarea name="content" id="reply_content" placeholder="Reply to this thread" tabindex="2" required></textarea>
            <input type="submit" class="submit button" value="Reply" tabindex="3">
        </form>
    </div>
    {{ end }}
{{ end }}
