{{ define "post" }}
<table class="post">
    <tr>
        <td rowspan="2" class="post_sidebar">
            {{ if .Author.Avatar }}
            <img class="post_avatar" src="{{.Author.Avatar}}" />
            {{ else }}
            <img class="post_avatar" src="/static/images/default_user.png" />
            {{ end }}

            <div class="post_author">{{ .Author.Username }}</div>
        </td>
        <td class="post_meta">
            posted {{ TimeRelativeToNow .CreatedOn }}
            {{ if GetCurrentUser }}
            {{ if GetCurrentUser.CanModerate}}
                {{ if not .ParentId.Valid }}
                // 
                {{ if .Sticky }}
                    <a href="/admin/stick?thread_id={{.Id}}">unstick</a>
                {{ else }}
                    <a href="/admin/stick?thread_id={{.Id}}">stick</a>
                {{ end }}
                {{ end}}
            {{ end }}
            {{ end }}
        </td>
    </tr>
    <tr>
        <td class="post_content">{{ markdown .Content}}</td>
    </tr>
</table>
{{ end }}

{{ define "content" }}
<h1><a href="/board/{{.board.Id}}">{{.board.Title}}</a> &gt; {{.op.Title}}
    {{ if .current_user }}
    <a href="#reply" onclick="javascript:getElementById('replycontent').focus(); return false;" class="button right"><img src="/static/images/pencil.png" class="icon" alt="New Thread"> Reply</a>
    {{ end }}
    </h1>

    {{ if not .prev_page }}
        {{ template "post" .op }}
    {{ end }}

    {{ range .posts }}
        {{ template "post" . }}
    {{ end }}

    <a name="latest"></a>

    <div class="pagination">
        {{ if .prev_page }}
            <a class="prev" href="/board/{{.board.Id}}/{{.op.Id}}?page={{add .page_id -1}}">&laquo; previous page</a>
        {{ end }}
        {{ if .next_page }}
            <a class="next" href="/board/{{.board.Id}}/{{.op.Id}}?page={{add .page_id 1}}">next page &raquo;</a>
        {{ end }}
    </div>

    {{ if .current_user }}
    <a name="reply"></a>
    <div class="thread_reply">
        <form method="POST" action="/board/{{.board.Id}}/{{.op.Id}}?page={{ .op.GetPagesInThread }}#latest">
            <textarea name="content" id="replycontent" placeholder="Reply to this thread" tabindex="2" required></textarea>
            <input type="submit" class="submit button" value="Reply" tabindex="3">
        </form>
    </div>
    {{ end }}
{{ end }}
