{{ define "post" }}
    <div class="post" id="{{.Id}}">
        <div class="post_sidebar">
                {{ if .Author.Avatar }}
                <img class="post_avatar" src="{{.Author.Avatar}}" />
                {{ else }}
                <img class="post_avatar" src="/static/images/default_user.png" />
                {{ end }}
            <div class="post_author">{{.Author.Username}}</div>
        </div>
        <div class="post_meta">posted {{ TimeRelativeToNow .CreatedOn }}</div>
        <div class="post_content">{{.Content}}</div>
    </div>
{{ end }}

{{ define "content" }}
<h1><a href="/board/{{.board.Id}}">{{.board.Title}}</a> &gt; {{.op.Title}}</h1>
    {{ if not .prev_page }}
        {{ template "post" .op }}
    {{ end}}

    {{ range .posts }}
        {{ template "post" . }}
    {{ end }}

    <a name="latest"></a>

    <div class="pagination">
        {{ if .prev_page }}
            <a class="prev" href="/board/{{.board.Id}}/{{.op.Id}}?page={{add .page_id -1}}">&laquo; previous page</a>
        {{ end }}
        {{ if .next_page }}
            <a class="next" href="/board/{{.board.Id}}/{{.op.Id}}?page={{add .page_id 1}}">next page &raquo;</a>
        {{ end }}
    </div>

    {{ if .current_user }}
    <div class="thread_reply">
        <form method="POST" action="/board/{{.board.Id}}/{{.op.Id}}#latest">
        <textarea name="content" placeholder="Reply to this thread"></textarea>
        <input type="submit" class="button" value="Post it">
        </form>
    </div>
    {{ end }}
{{ end }}
